[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
rope = "*"
flake8 = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
opencv-python = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python yukari.py '../frontend/dist/'"
help = "python yukari.py -h"
test = "python -m unittest discover -v"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
