[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
rope = "*"
flake8 = "*"

[packages]
flask = "*"
flask-restful = "*"
opencv-python = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python yukari.py"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
